<div class="row">

    <div *ngFor="let item of _shared.heros" class="col-3 mt-3" >

        <div [ngClass]="{ 
                            'card p-1':true,
                            'hight':item.power>=40,
                            'medium':item.power<=40 && item.power>35,
                            'low':item.power<=35,
                        }">

            <div class="card-image">
                <img class="w-100" [src]="item.image" alt="">
            </div>

            <div class="card-body">
                <h2> {{ item.name }} </h2>
                <p> {{ item.power }} </p>
            </div>

        </div>

    </div>

</div>